<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
<listeners>
<listener class-name="com.ibm.genericUtility.Listeners"/>
</listeners>
  <test name="Test1">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="appURL" value="http://sfeq01.twutil.net:8055/sap/bc/ui2/flp/Fiorilaunchpad.html"></parameter>
    <classes>
      <!-- <class name="com.thamesWater.fiori.Test001P"/>
      <class name="com.thamesWater.fiori.Test002P"/> -->
    <class name="com.thamesWater.fiori.CreateLeaveRequest2"/>
     <class name="com.thamesWater.fiori.CreateLeaveRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
